section{
    width: 20%;
    height: 100%;
    /* transition: 0.5s; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: scroll;
    gap: 10px;
}

section::-webkit-scrollbar {
  display: none; 
}

/* Section Notificações */

#box-notis{
    margin-left: -80%;
    padding: 0px;
}

#box-notis h1{
    margin-block: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#box-notis h1 span{
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(103, 197, 90);
    color: white;
    cursor: pointer;

}

.box-noti{
    background-color: rgb(103, 197, 90);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
    opacity: 0.6;
    cursor: pointer;
    margin-inline: 10px;
}

.nao-lida{
    opacity: 1;
}


.icon-noti{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    color: rgb(31, 170, 12);
    font-size: 30px;
}

.box-text-noti{
    /* background-color: aqua; */
    flex: 1;
    position: relative;
}

.box-text-noti span{
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 14px;
}


/* Section  */

#box-renda{
    justify-content: space-around;
}

#box-meta{
    height: 15px;
    width: 100%;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
    overflow: hidden;
}

#box-meta div{
    height: 100%;
    width: 75%;
    background-color: green;
    border-radius: 10px;
}

#box-grafico{
    height: 200px;
    width: 100%;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    overflow: hidden;
}

#box-grafico div{
    height: 100%;
    width: 100%;
    background-color: green;
    clip-path: polygon(
        100% 0%,100% 100%,0% 100%, 0% 50%, 25% 20%, 50% 50%, 75% 40%
    );
}

#box-cards{
    display: flex;
    justify-content: space-around;
}

.cards{
    background-color: rgb(201, 201, 201);
    width: 30%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px 1px gray;
}

.cards span{
    font-size: 40px;
    color: rgb(32, 102, 47);
  
}

/* section Ecopontos */

#box-local{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

#box-local h2{
    margin-block: 10px;
}


.ecopontos{
    background-color: rgb(103, 197, 90);
    border-radius: 10px;
    padding: 10px;
    margin-block: 5px;
}

.opcionais{
    display: none;
    transition: 0.5s;
}

#btn-ver-mais{
    background-color: transparent;
    /* background-color: red; */
    border: 0px;
    font-size: 20px;
    color: rgb(76, 76, 212);
    margin-top: 10px;
    cursor: pointer;
}

#mapa{
    height:50%;
    width: 100%;
    border: 0px;
    border-radius: 10px;
}


#box-conta{
    padding: 0px;
    padding-top: 20px;
    gap: 0px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
}


.box-icon-conta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(47, 224, 109);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

    width: 90%;
}


#box-info-conta{
    width: 100%;
    flex: 1;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#box-info-conta h3{
    padding-left: 20px;
}

.box-icon-conta span{
    font-size: 60px;
}

.box-between{
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin-block: 2px;
    cursor: pointer;
}

.box-between:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

/* Section Home */

#box-home{
    overflow: visible;
    /* background-color: red; */
}

#box-intro {
    border-radius: 10px;
    height: 400px;
    background-color: red;
}

#box-intro img {
    width: 100%;
}

#box-galeria-home{
    display: flex;
    width: 100%;
    height: 400px;
    overflow-x: scroll;
    padding: 10px;
    gap: 10px;
}

#box-galeria-home img{
    border-radius: 10px;
}

#box-funcoes{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
}

#box-funcoes button{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: auto;
    border: 0px;
}

#box-funcoes .material-symbols-outlined{
    background-color: rgb(119, 216, 117);
    font-size: 40px;
    padding: 10px;
    border-radius: 50%;
    color: white;
}

